{% extends "editor/editorbase.html" %}

{% block title %}Editor{% endblock %}

{% block metadata %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet"
          href="/static/editor/editor.css"/>

    <script type="text/javascript" src="/static/editor/javascript/editor.js"></script>
    <link href="/static/editor/css/no-theme/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <script src="/static/editor/javascript/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/editor/javascript/general.js"></script>

{% endblock %}


{% block content %}

    <div class="rowfixfull clearfix">
      <div class="startmedia-wrapper">

        <div class="top-bar clearfix">
          <button class="btn">Avbryt</button>
          <div class="header-text">
            <h3>Station 2:</h3>
            <p class="small-text">Dra för att ändra ordning.</p>
          </div>
          <button class="btn right">Klar</button>
        </div>
        <ul class="media-files">
          <li class="clearfix">
            <span class="typcn typcn-arrow-unsorted"></span>

            <button class="media-opt btn round"><span class="typcn typcn-info-large"></span></button>
            <p>Medianamnet</p>
            <button class="btn round orange minus"><span class="typcn typcn-minus"></span></button>
          </li>
          <li class="clearfix">
            <span class="typcn typcn-arrow-unsorted"></span>

            <button class="media-opt btn round"><span class="typcn typcn-info-large"></span></button>
            <p>Medianamnet</p>
            <button class="btn round orange minus"><span class="typcn typcn-minus"></span></button>
          </li>
        </ul>
        <div class="add-media clearfix">
          <button class="btn round orange"><span class="typcn typcn-plus"></span></button>

          <p class="mini-text">Lägg till media</p>
        </div>
      </div>
    </div>
{% endblock %}
