{% extends "editor/editorbase.html" %}

{% block title %}Editor{% endblock %}

{% block metadata %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet"
          href="/static/editor/editor.css"/>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVHTeNANuWa7s5Xazkf_5FdWM0lXOiUIc&sensor=true&libraries=geomentry&libraries=places">
    </script>
    <script type="text/javascript" src="/static/editor/javascript/markerwithlabel.js"></script>

    <script type="text/javascript"
            src="/static/editor/javascript/mapeditor.js">
    </script>
    <script type="text/javascript" src="/static/editor/javascript/editor.js"></script>

    <script type="text/javascript" src="/static/javascript/setActiveChoice.js"></script>


{% endblock %}


{% block content %}
    
    <div class="rowfix clearfix">
      <div class="btn-block btn-add-margin station">
        <button class="btn green round"> <span class="typcn typcn-plus"> </span></button>
        <p class="add-label ">Lägg till station</p>

      </div>
    </div>
    <div class="rowfixfull clearfix">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map-canvas"></div>
    </div>

    <div class="fadeBGShow">
      <img src="/static/images/loading.gif" alt="Laddar Karta">
    </div>
    {% endblock %}
