{% extends "editor/editorbase.html" %}

{% block title %}Editor{% endblock %}

{% block metadata %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet"
          href="/static/editor/editor.css"/>

    <script type="text/javascript" src="/static/editor/javascript/editor.js"></script>
    <link href="/static/editor/css/no-theme/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <script src="/static/editor/javascript/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/editor/javascript/general.js"></script>
    <script type="text/javascript" src="/static/editor/javascript/markerMediaPage.js"></script>

{% endblock %}


{% block content %}

    <!-- 
    <div class="rowfix clearfix">

      <div class="top-wrapper">
        <div class="column two-thirds">

            <div id="map-wrapper">
                <div class="rowfix clearfix">

                    <div class="top-wrapper">
                        <div class="btn-block">
                            <button class="btn blue round"> <span class="typcn typcn-th-menu"> </span></button>
                            <p class="label-bottom">Göm menyn</p>
                        </div>
                        <div class="btn-block">
                            <button class="btn green round"> <span class="typcn typcn-cloud-storage"> </span></button>
                            <p class="label-bottom">Spara på kontot</p>
                        </div>
                        <h2 class="text-center">3. Lägg till media</h2>
                    </div>
                </div>
                </div> -->
                <div class="rowfixfull clearfix">
                    <div class="startmedia-wrapper" id="{{cur_route.id}}">

                        <div class="top-bar clearfix">
                            <button class="btn close" onclick = "location.href='/editor/media/{{cur_route.id}}/'">Avbryt</button>
                            <div class="header-text">
                                <h3>{{marker_name}}</h3>
                                <p class="small-text">Dra för att ändra ordning.</p>
                            </div>
                            <button class="btn right klar" onclick="addmedia()">Klar</button>
                        </div>
                        <ul class="media-files" id="{{marker_id}}">
                           <!--  <li class="clearfix">
                                <span class="typcn typcn-arrow-unsorted"></span>

                                <button class="media-opt btn round"><span class="typcn typcn-info-large"></span></button>
                                <p>Medianamnet</p>
                                <button class="btn round orange minus"><span class="typcn typcn-minus"></span></button>
                            </li>
                            <li class="clearfix">
                                <span class="typcn typcn-arrow-unsorted"></span>

                                <button class="media-opt btn round"><span class="typcn typcn-info-large"></span></button>
                                <p>Medianamnet</p>
                                <button class="btn round orange minus"><span class="typcn typcn-minus"></span></button>
                            </li>  -->
                            {% for m in marker_media %}
                                <li class="clearfix">
                                    <span class="typcn typcn-arrow-unsorted"></span>
                                    
                                    <button class="media-opt btn round" id="{{m.name}}" name="{{ m.id }}" value="{{m.options}}"><span class="typcn typcn-info-large"></span></button>
                                    <p>{{ m.name }}</p>
                                    
                                    <form action="" method="post"> 
                                        {% csrf_token %}
                                        <input type="hidden" name="delmedia" value="{{ m.id }}">
                                        <button class="btn round orange minus"><span class="typcn typcn-minus"></span></button>
                                   </form>  
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="add-media clearfix" name="{{prev_media_type}}">
                            <button class="btn round green" ><span class="typcn typcn-plus"></span></button>

                            <p class="mini-text">Lägg till media</p>
                        </div>
                    </div>
                </div>
            </div>
    <div class="fadeBG"></div>
    <div class="upload-file">
      <h2>Ladda upp fil</h2>
      <form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}  
	<input id="id_media_file" type="file" name="media_file">
	<button class="upload-btn btn orange large"><span class="typcn typcn-upload"></span> Ladda upp </button>
      </form>
      <button class="upload-abort btn">Avbryt</button>
    </div>
    {% endblock %}
